{% extends "layout.html" %}

{% block page_title %}
About - GOV.UK Prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <form action="/aboutswitch.html" method="get" class="form">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">UC Switch is coming to your area in March 2018</h1>
      <p class="lede">
    Universal Credit has been introduced to give you the
    support you need to find and progress in work. We want
    you to be able to benefit from all the positives that work
    brings. This guide will help you do that and covers the
    following areas:
      </p>
      <a name="yourresponsibilities"></a>
      <h1 class="heading-large">Your responsibilities</h1>
      <p>When you claim Universal Credit there are a number of
      activities you become responsible for in order to receive
      your payment. You can get more information about
      Universal Credit online at <a href="www.gov.uk/universalcredit">www.gov.uk/universalcredit</a>
      </p>
      <ul class="list list-bullet">
        <!-- List dot one -->
        {% if (benefit_WTC or benefit_CTC) and not (benefit_JSA or benefit_ESA or benefit_IS or benefit_HB) %}
          {% include "includes/responsibilities/1a.html" %}
        {% endif %}
      {% if benefit_JSA and not (benefit_WTC or benefit_CTC or benefit_ESA or benefit_IS or benefit_HB) %}
        {% include "includes/responsibilities/1b.html" %}
      {% endif %}
      {% if benefit_ESA and not (benefit_WTC or benefit_CTC or benefit_JSA or benefit_IS or benefit_HB) %}
        {% include "includes/responsibilities/1c.html" %}
      {% endif %}
      {% if (benefit_IS or benefit_HB) and not (benefit_WTC or benefit_CTC or benefit_JSA or benefit_ESA) %}
        {% include "includes/responsibilities/1d.html" %}
      {% endif %}
        <!-- List dot two -->
        {% if (benefit_WTC or benefit_CTC or benefit_HB) %}
          {% include "includes/responsibilities/2a.html" %}
        {% endif %}
        {% if benefit_JSA and not (benefit_WTC or benefit_CTC or benefit_ESA or benefit_HB or benefit_IS) %}
          {% include "includes/responsibilities/2b.html" %}
        {% endif %}
        {% if (benefit_ESA or benefit_IS) and not (benefit_WTC or benefit_CTC or benefit_HB)%}
          {% include "includes/responsibilities/2c.html" %}
        {% endif %}
        <!-- List dot three -->
        {% if benefit_WTC %}
          {% include "includes/responsibilities/3a.html" %}
        {% endif %}
        {% if benefit_CTC and not (benefit_WTC or benefit_JSA or benefit_ESA or benefit_HB or benefit_IS) %}
          {% include "includes/responsibilities/3b.html" %}
        {% endif %}
        {% if (benefit_JSA or benefit_ESA or benefit_IS) and not (benefit_WTC or benefit_CTC or benefit_HB) %}
          {% include "includes/responsibilities/3c.html" %}
        {% endif %}
        <!-- List dot four -->
        {% if benefit_HB %}
          {% include "includes/responsibilities/4a.html" %}
        {% endif %}
        <!-- List dot five -->
        {% if (benefit_WTC or benefit_CTC or benefit_JSA or benefit_ESA or benefit_IS or benefit_HB) %}
          {% include "includes/responsibilities/5a.html" %}
        {% endif %}
        <!-- List dot six -->
        {% if (benefit_WTC or benefit_CTC or benefit_ESA or benefit_IS or benefit_HB) and not benefit_JSA%}
          {% include "includes/responsibilities/6a.html" %}
        {% endif %}
        {% if benefit_JSA %}
          {% include "includes/responsibilities/6b.html" %}
        {% endif %}
    </ul>
    <h2 class="heading-large">What you can do to prepare</h2>
  <p>Activities you can do now to help your switch to Universal Credit;</p>
  <ul class="list list-bullet">
<li>You will need a bank account that you can make payments, from as you’ll need to pay
  your own rent etc. If you have a partner you may want to consider a joint account.</li>
<li>You will need to provide identification for your new claim. You could do this now by
  registering online with <a href="www.gov.uk/verify">GOV.UK Verify</a>. If you can verify yourself through this website
  you may not need to attend a Jobcentre to bring in your identification.</li>
<li>You will need an email account so you could set one of these up now.</li>
<li>You could use the online budgeting support tool to help plan for moving to monthly payments.</li>
</ul>
<p>If you require extra support in applying for Universal Credit this will be available
  in Jobcentre Plus offices and other local support organisations.</p>

  {% if benefit_WTC or benefit_CTC or benefit_IS or benefit_HB %}
    {% include "includes/questions/header.html" %}
  {% endif %}
  {% if benefit_WTC or benefit_CTC or benefit_IS or benefit_HB %}
  {% include "includes/questions/1a.html" %}
  {% endif %}
  {% if benefit_WTC or benefit_CTC or benefit_IS or benefit_HB %}
  {% include "includes/questions/1b.html" %}
  {% endif %}
  {% if benefit_IS and not (benefit_WTC or benefit_CTC or benefit_HB) %}
  {% include "includes/questions/1c.html" %}
  {% endif %}
  {% if benefit_CTC or benefit_WTC %}
  {% include "includes/questions/1d.html" %}
  {% endif %}
  {% if not benefit_IS %}
  {% include "includes/questions/1e.html" %}
  {% endif %}
    </div>
</form>

</main>

{% endblock %}
