{% extends "layout.html" %}

{% block page_title %}
About - GOV.UK Prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <form action="/aboutswitch.html" method="get" class="form">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">UC Switch is coming to your area in March 2018</h1>

      <p class="lede">
    Universal Credit has been introduced to give you the
    support you need to find and progress in work. We want
    you to be able to benefit from all the positives that work
    brings. This guide will help you do that and covers the
    following areas:
      </p>
      <ul class="list list-bullet">
        <li><a href="#yourresponsibilities">Your responsibilities</a></li>
        <li><a href="/alerts">Your Commitment</a></li>
        <li><a href="/bankdetails">Payments</a></li>
        <li><a href="/beforeyoustart">Full time Work search</a></li>
        <li><a href="/declaration">Opening up work, taper and in work progression</a></li>
        <li><a href="/errorpages">Self-employment</a></li>
        <li><a href="/representatives">Help with Childcare</a></li>
        <li><a href="/paymentsfromabroad">Sanctions</a></li>
      </ul>

      <a name="yourresponsibilities"></a>
      <h1 class="heading-large">Your responsibilities</h1>
      <p>
      When you claim Universal Credit there are a number of
      activities you become responsible for in order to receive
      your payment. You can get more information about
      Universal Credit online at www.gov.uk/universalcredit
    </p>
    </div>
  </div>
</form>

</main>

{% endblock %}
