{% extends "layout.html" %}

{% block page_title %}
About - GOV.UK Prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <form action="/aboutswitch.html" method="get" class="form">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">UC Switch is coming to your area in March 2018</h1>

      <p class="lede">
    Universal Credit has been introduced to give you the
    support you need to find and progress in work. We want
    you to be able to benefit from all the positives that work
    brings. This guide will help you do that and covers the
    following areas:
      </p>
      <ul class="list list-bullet">
        <li class="bold-medium"><a href="#yourresponsibilities">Your responsibilities</a></li>
        <li class="bold-medium"><a href="#yourcommitment">Your Commitment</a></li>
        <li class="bold-medium"><a href="#payments">Payments</a></li>
        <li class="bold-medium"><a href="#fulltimeworksearch">Full time Work search</a></li>
        <li class="bold-medium"><a href="#openingupwork">Opening up work, taper and in work progression</a></li>
        <li class="bold-medium"><a href="#self-employment">Self-employment</a></li>
        <li class="bold-medium"><a href="#helpwithchildcare">Help with Childcare</a></li>
        <li class="bold-medium"><a href="#sanctions">Sanctions</a></li>
      </ul>

      <a name="yourresponsibilities"></a>
      <h1 class="heading-large">Your responsibilities</h1>
      <p>
      When you claim Universal Credit there are a number of
      activities you become responsible for in order to receive
      your payment. You can get more information about
      Universal Credit online at www.gov.uk/universalcredit
    </p>
    <ul class="list list-bullet">
      <li>Complete work search activities for up to 35 hours per week.</li>
      <li>Complete a tailored commitment with your work coach.</li>
      <li>You will be responsible for paying your own rent and other housing costs.</li>
      <li>Report all your changes in circumstances through your account</li>
      <li>Manage your monthly payments and budget monthly.</li>
      <li>Working part-time and able to earn more? You’re required to seek additional work and increase your earnings</li>
    </ul>
    <a name="yourcommitment"></a>
    <h1 class="heading-large">Your Commitment</h1>
  <p class="bold-small">When you claim Universal Credit you will need to complete and accept a tailored
      commitment.
    </p>
    <p>
      In most cases your Commitment will be drawn up during a conversation with your work coach at
      your local Jobcentre. It will set out what you have agreed to do to prepare for and look for work,
      or to increase your earnings if you are already working.
    </p>
    <p>
      It will be based on your personal circumstances and will be reviewed and updated on an on-going basis.
      Each time it is updated, you will need to accept a new Commitment to keep receiving Universal Credit.
  </p>
  <p>
    You will be able to view your latest Commitment on-line though your account.
  </p>
  <p>
  If you claim Universal Credit as a couple, both of you will need to accept a Commitment.
  You will each have your own Commitment, and yours may be affected if your partner starts
  work or their circumstances change.
  </p>
  <p class="bold-small">
    If you are earning as much as can be expected depending upon your current circumstances.
  </p>
    <p>
    You will receive financial support without any other conditions to increase your earnings
    </p>
    <p class="bold-small">
      If you are able and available for work.
    </p>
      <p>
      You will need to do everything you reasonably can to give yourself the best chance of finding work.
      Preparing for and getting a job must be your full time focus. If you do not do this without a good
      reason, you will receive reduced payments of your Universal Credit, known as a sanction.
      </p>
      <p class="bold-small">
        If you currently have limited capability for work, related to a disability or health condition,
        but this is expected to change over time.
      </p>
        <p>
        You will be supported until your circumstances improve and you can work. You will be
        expected to prepare for work so far as you are able.
        </p>
        <p class="bold-small">
          If you have a disability or health condition which prevents you from working.
        </p>
          <p>
          You will not be asked to work, and will be supported through Universal Credit.
          </p>
          <p class="bold-small">
            If you care for a severely disabled person for at least 35 hours a week.
          </p>
            <p>
            You will not be required to work.
            </p>
            <p class="bold-small">
              If you are the lead carer of a child.
            </p>
              <p>
              You will be supported in your current circumstances. What is expected of you
              as a lead carer in return for getting Universal Credit will be based on the
              age of the youngest child in the household.
              </p>
              <p class="bold-small">
                Not meeting your responsibilities
              </p>
                <p>
                Your Commitment will clearly state what will happen if you fail to meet
                each of your responsibilities. You will receive reduced payments, known
                as a sanction, if you fail to meet one of your responsibilities and
                can’t give a good reason to explain why.
                </p>

          <a name="payments"></a>
          <h1 class="heading-xlarge">Payments</h1>
          <p class="bold-small">
            Universal Credit is paid monthly and you are required to budget monthly.
          </p>
          <p>
            When you make a new claim to Universal Credit you will receive your first
            payment, together with a letter telling you how much will be paid, around
            6 weeks after the date you make your claim. We can’t confirm how much you’ll
            get before then, because the amount depends upon your circumstances, for
            example if you’re caring for someone else and/or if you have received any
            income or earnings that month.
          </p>
          <p class="bold-small">
            If you feel you may experience financial difficulties during this time please
            check with your work coach as you may be able get an advance on your first
            Universal Credit payment if you’ve recently been receiving another benefit
            or you’re in urgent financial need.
          </p>
          <p>
            Your payment will usually arrive on the same date each month or earlier
            if the date falls on a weekend or bank holiday.
          </p>
          <p>
            If you are employed, Her Majesty’s Revenue and Customs (HMRC) will tell
            us about any money you’ve earned.
          </p>
          <p>
            Universal Credit is paid monthly directly into the account you have chosen.
            The amount you get is calculated each month, and depends on your circumstances
            and earnings during that time. This is known as an assessment period.
          </p>
          <p>
            Your first assessment period usually starts 7 days after you submit your claim.
            This 7 day waiting period may apply if you are out of work and claim Universal Credit.
          </p>
          <p>
            Your first assessment period usually starts 7 days after you submit your claim.
            This 7 day waiting period may apply if you are out of work and claim Universal Credit.
          </p>
          If you were previously in receipt of tax credits please note that your tax credits
          will stop as soon as you make a claim to Universal Credit. For further information
          see: Universal Credit: <a href="https://www.gov.uk/government/publications/help-with-budgeting-your-universal-credit">help with managing your money - GOV.UK</a>
    </div>
  </div>
</form>

</main>

{% endblock %}
