{% extends "layout.html" %}

{% block page_title %}
  UC Switch prototypes
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        UC Switch prototypes
      </h1>
      <p>
        This page contains the prototypes created for UC Switch.
        Use the links below to view each prototype.
      </p>
      <h2 class="heading-medium">UC Switch in advance</h2>
			<ul class="list list-bullet">
				<li><a href="/ucswitchiscoming">Check when UC Switch is coming</a></li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}
