{% extends "layout.html" %}

{% block page_title %}
About - GOV.UK Prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Find out more about UC Switch</h1>
      <img src="/public/images/UCSwitch_logo@2x.png" alt="" width="162" height="182"; />
      <p class="lede">
        Use this service to find out when Universal Credit Switch is coming
        to your area. It will also help you to understand what you need to do
        to prepare for it.
      </p>
      <p>
        <a class="button button-start" href="postcode.html" role="button">Start</a>
      </p>

    </div>
  </div>


</main>

{% endblock %}
